:root {

    --font1 : 'Mukta bold', sans-serif;
    --font2 : 'Mukta medium', sans-serif;

    --text1: 36px;
    --text2: 32px;
    --text3: 20px;
    --text4: 16px;
    --text5: 14px;


    --color1: #261101;
    --color2: #0E0D0D;
    --color3: #FFFFFF;

}

