.projets {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-evenly;
}

.projectimg {
    height: 165px;
    width: 100%;
}

.projetleft {
    text-align: center;

    max-width: 50%;
    width: 165px;
}

.projetright {
    text-align: center;

    max-width: 50%;
    width: 165px;
}