/* Style pour le menu */
.menu {
    background-color: #0E0D0D;
    padding: 20px;
    text-align: center;
}

.menu a {
    text-decoration: none;
    color: #333;
}

.menu a:hover {
    color: #777;
}

.menu ul {
    list-style-type: none;
}

.menu ul li {
    display: inline;
}

.menu ul li a {
    text-decoration: none;
    color: #333;
}

.menu ul li a:hover {
    color: #777;
}

.menu.ul{
    position: relative;
    text-align: center;
}